[Unit]
Description=Run Script Daemon

[Service]
Type=simple
User=admin
ExecStart=/bin/bash /usr/local/bin/sentinel_mrhat_cam.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
